@charset "UTF-8";

* {
	outline: none;
}

a {
	text-decoration: none;
}

button {
	border: 0;
	font: inherit;
	font-weight: bold;
	padding: 5px 6px;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
	border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}