@charset "UTF-8";

:root {
	--content-wrapper: white;
	--main-black: rgba(45, 49, 66, 1);
	--main-black60: rgba(45, 49, 66, 0.6);
	--main-orange: #EF8354;
	--main-orange-shade: #DA784D; 
	--main-blue: #3D7BCC;
}

html { 
	--header-height: 50px;
	--footer-height: 70px;
	color: var(--main-black);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

body {
	background-color: var(--main-black);
	height: 100%;
	margin: 0;
}

header {
	background-color: var(--main-orange);
	box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1);
	font-size: 1.1em;
	height: var(--header-height);
	position: fixed;
	top: 0;
	transition: top 0.3s;
	vertical-align: middle;
	width: 100%;
	z-index: 1;
}

footer {
	background-color: var(--main-orange);
	box-shadow: 0 -1px 0 rgba(12, 13, 14, 0.1), 0 -1px 6px rgba(59, 64, 69, 0.1);
	display: flex;
	height: var(--footer-height);
	width: 100%;
}

.footer-info {
	color: white;
	margin: auto;
	opacity: 0.9;
}

nav {
	display: flex;
	padding: 0px 5px;
}

/* Header Navs Rules */

nav > a, .dropbtn > a {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.5em;
}

nav > a:hover, .dropbtn > a:hover {
	background-color: var(--main-orange-shade);
	border-radius: 10px;
}

nav > a:visited, .dropbtn > a:visited {
	color: white;
}

/* Menu Bar */

.menu-bar {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: space-between;
	margin: auto;
	max-width: 90%;
}

/* Sezione Link */
.links {
	flex: 1;
	justify-content: flex-start;
}

/* Sezione Ricerca */
.search {
	flex: 3;
	display: flex;
}

.search > * {
	border: 2px solid var(--main-blue);
}

.search-select {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	font-size: 1em;
	padding: 0 5px;
	width: 14%;
}

.search-box {
	border-left: none;
	font-size: 1em;
	padding: 0 5px;
	transition: width 0.5s ease-in-out;
	width: 30%;
}

.search-box:focus {
	width: 80%;
}

.search-button {
	border-left: none;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	font-size: 1em;
	padding: 0;
	text-indent: -2px;
	width: 5%;
}

/* Sezione Utente */
.user {
	flex: 1;
	justify-content: flex-end;
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
}

.dropdown-content {
	background-color: #f9f9f9;
	border-radius: 20px;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
	display: none;
	right: 30px;
	min-width: 160px;
	position: absolute;
	z-index: 2;
}

.dropdown-content a {
	color: #2D3142;
	display: block;
	padding: 12px 16px;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown-content a:hover:first-child {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.dropdown-content a:hover:last-child {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

/******************************** Main Content ********************************/

.content-wrapper {
	background-color: var(--content-wrapper);
	margin: 0 auto;
	max-width: 85%;
	min-height: calc(100vh - var(--footer-height) - var(--header-height));
	padding: var(--header-height) 20px;
}

/* Content Navs Rules */

.content-nav {
	justify-content: center;
}

.content-nav  a, .content-nav a:visited {
	border-radius: 10px;
	color: var(--main-black);
	margin: 0 5px;
}

.content-nav a:hover {
	background-color: var(--main-orange);
	color: white;
}

.content-nav a.selected {
	color: white;
}


/******************************** Player Style ********************************/

.song {
	display: flex;
	margin: 10px 0;
}

.song a {
	color: var(--main-black);
}

.song a:hover {
	opacity: 0.8;
}

.song button {
	border: none;
	background-color: transparent;
}

.song-image {
	display: inline;
}

.song-image img {
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	height: 100px;
	width: 100px;
}

.song-info {
	display: inline;
	padding-left: 10px;
}

.author {
	display: inline;
}


.circle-icon, .song .play, .song .pause {
	height: 35px;
	text-align: center;
	vertical-align: middle;
	width: 35px;
}

.song .play, .song .pause {
	background-color: var(--main-orange);
	border: none;
	border-radius: 50%;
	cursor: pointer;
	font-size: 1em;
}



.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	background: #d3d3d3; /* Grey background */
	border-radius: 5px;
	height: 8px;
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb  {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	background-color: var(--main-orange);
	border-radius: 50%; width : 25px; /* Set a specific slider handle width */
	cursor: pointer;
	height: 15px; /* Slider handle height */
	width: 15px; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	background-color: var(--main-orange);
	border-radius: 50%;
	cursor: pointer; /* Cursor on hover */
	height: 25px; /* Slider handle height */
	width: 25px; /* Set a specific slider handle width */
}

.volume-button {
	font-size: 1em;
}

.volume {
	display: none;
}

.volume-button:hover .volume {
	display: inline;
}

/******************************** Form ********************************/

.hr-form {
	background-color: var(--main-black);
	border: 1px solid var(--main-black);
}

.form-input-text, .form-input-submit, .file-input {
	border: 1px solid var(--main-black60);
	border-radius: 3px;
}

.form-input-text:focus, .form-input-submit:hover, .file-input:hover {
	border: 1px solid var(--main-black);
}

.form-input-text {
	font-size: 1.2em;
	margin-bottom: 20px;
	max-width: 35%; /* Ricorda di aumentarlo per view piu' piccole */
	padding: 0 3px;
}

.form-input-submit, .file-input {
	font-size: 1.2em;
	background-color: transparent;
	color: var(--main-black);
	cursor: pointer;
}

.file-input {
	display: inline-block;
	margin-bottom: 20px;
	padding: 1px 5px;
}

.form-input-file {
	display: none;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	width: 0.1px;
	z-index: -1;
}

.image-preview {
	margin-bottom: 20px;
}

.radio-buttons {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 20px;
} 

.form-input-radio + label {
	opacity: 0.6;
}

.form-input-radio:hover + label {
	opacity: 1;
}

.form-input-radio:checked + label {
	opacity: 1;
}

.added-tags {
	margin-bottom: 20px;
	display: flex;
	flex-flow: row wrap;
}

.tag {
	border: 1px solid var(--main-orange);
	border-radius: 20px;
	cursor: pointer;
	margin: 0 5px;
	text-align: center;
}

.form-error {
	border-bottom: 20px;
	color: red;
}

/******************************** Track Page ********************************/

.comment-container {
	display: flex;
	flex-flow: column-reverse;;
	margin-left: 5%;
}

.comment {
	
}


/* Classes of support */

.color-white {
	color: white;
}

.selected {
	background-color: var(--main-orange);
}

.hidden {
	display: none;
}


/* Responsive Design */

@media only screen and (max-width: 420px) {
	
	header {
		height: auto;
	}	
	
	header nav {
		flex-flow: column wrap;
		align-items: center;
	}
	
	.menu-bar {
		flex-flow: column wrap;
	}
	
	.search {
		display: none;
		justify-content: center;
	}
	
	.dropbtn {
		display: flex;
	}

	.dropdown-content {
		display: none;
		border-radius: 0;
		flex-flow: row;
		height: 0;
		justify-content: center;
		right: 0;
		transition: height 0.3s ease-out;
		width: 100%;
	}
	
	.dropdown:hover .dropdown-content {
		flex-flow: row;
	}
	
	.dropdown-content a:hover {
		border-radius: 20px;
	}
	
	.content-wrapper {
		max-width: 100%;
	}
	
}